[Desktop Entry]
Name=Zip Unpacker
Comment=Extract archives with a single click
Exec=/home/alex/.local/bin/zip-unpacker %f
Terminal=false
Type=Application
Icon=/home/alex/.local/bin/archive.png
Categories=Utility;Archiving;FileTools;
NoDisplay=true
MimeType=application/zip;application/x-zip-compressed;application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/x-tarz;application/x-xz-compressed-tar;application/x-lzma-compressed-tar;application/x-lzip-compressed-tar;application/x-tzo;application/x-lrzip-compressed-tar;application/x-lz4-compressed-tar;application/x-zstd-compressed-tar;application/x-cd-image;application/x-bcpio;application/x-cpio;application/x-cpio-compressed;application/x-sv4cpio;application/x-sv4crc;application/x-source-rpm;application/vnd.ms-cab-compressed;application/x-xar;application/x-iso9660-appimage;application/x-archive;application/vnd.rar;application/x-rar;application/x-7z-compressed;application/x-compress;application/gzip;application/x-bzip;application/x-lzma;application/x-xz;application/zstd;application/x-lha
